@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Jetbrains Mono Nerd Font Propo;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border-bottom: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-arch {
  background-color: @color0;
  color: @color10;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#workspaces {
    border-radius: 5px;
    background-color: @color0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces button {
  background-color: transparent;
  color: @color9; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button.active {
  background-color: transparent;
  color: @color10; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button:hover {
    color: @color15;
  }

#custom-salaat {
  background-color: @color0;
  color: @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#custom-quran {
  background-color: @color0;
  color: @color9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#custom-whatsapp {
  background-color: @color0;
  color: @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: -5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#custom-discord {
  background-color: @color0;
  color: @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 14px;
  padding-left: 12px;
  margin-left: -5px;
  margin-right: -5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}

#custom-mail {
  background-color: @color0;
  color: @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}

#custom-swaync {
  background-color: @color0;
  color: @color9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#custom-aur {
  background-color: @color0;
  color: @color9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#custom-gpu {
  background-color: @color0;
  color: @color9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#custom-cpu {
  background-color: @color0;
  color: @color9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#pulseaudio {
  background-color: @color0;
  color: @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#pulseaudio.muted {
  background-color: @color0;
  color: @color9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#network {
  background-color: @color0;
  color: @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;

}

#network.disconnected {
  background-color: @color0;
  color: @color9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;

}

#clock {
  background-color: @color0;
  color: @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#tray {
    background-color: @color0;
    color: @color9;
    border-radius: 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#custom-power {
  background-color: @color0;
  color: @color9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

