@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: RobotoMono Nerd Font;
    font-size: 13px;
}

tooltip * {
  color: @color10;
  background-color: @color0;
  border-radius: 5px;
  text-shadow: none;
  border: 0px solid transparent;
}

tooltip label {
    color: @color7;
    padding: 0px;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 3px solid transparent;
    transition-property: background-color;
    transition-duration: .5s;
}


#workspaces {
  background-color: @color0;
  border-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-left: 2px solid @color10;
  border-right: 2px solid @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button {
  background-color: transparent;
  color: @color9; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 9px;
  padding-left: 5px;
}

#workspaces button.active {
  background-color: transparent;
  color: @color10; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 7px;
  padding-left: 5px;
}
#workspaces button:hover {
    color: @color15;
}

#clock {
  background-color: @color0;
  color: @color7;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 7px;
  padding-left: 5px;
  margin-left: -4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#custom-spacer1 {
  background-color: @color10;
  color: @color0;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-right: 13px;
  padding-left: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}

#custom-spacer2 {
  background-color: @color10;
  color: @color0;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-right: 13px;
  padding-left: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}

#network {
  background-color: @color0;
  color: @color7;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 7px;
  padding-left: 5px;
  margin-left: -4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;

}

#network.disconnected {
  background-color: @color0;
  color: @color13;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 7px;
  padding-left: 5px;
  margin-left: -4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#custom-spacer3 {
  background-color: @color10;
  color: @color0;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-right: 13px;
  padding-left: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}

#pulseaudio {
  background-color: @color0;
  color: @color7;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 7px;
  padding-left: 5px;
  margin-left: -4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#pulseaudio.muted {
  background-color: @color0;
  color: @color13;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 7px;
  padding-left: 5px;
  margin-left: -4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#custom-arch {
  background-color: @color0;
  color: @color9;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 9px;
  border-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#custom-power {
  background-color: @color0;
  color: @color9;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 11px;
  border-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}


#custom-swaync {
  background-color: @color0;
  color: @color9;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 11px;
  border-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#custom-salaat {
  background-color: @color0;
  color: @color10;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#custom-whatsapp {
  background-color: @color0;
  color: @color10;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 10px;
  border-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#custom-discord {
  background-color: @color0;
  color: @color10;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 21px;
  padding-left: 10px;
  border-radius: 5px;
  border-bottom: 2px solid @color10;
  border-top: 2px solid @color10;
  border-right: 2px solid @color10;
  border-left: 2px solid @color10;
}

#tray {
    background-color: @color10;
    border-radius: 5px; 
    border-bottom: 2px solid @color10;
    border-top: 2px solid @color10;
    border-right: 2px solid @color10;
    border-left: 2px solid @color10;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

